.navigation {
    position: absolute;
    top: 35px;
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 770.2px;
}



.navigation .navul {
    text-transform: uppercase;
    display: inline;
    padding-inline-start: 0;
}



.navigation .navul li {
    text-transform: uppercase;
    display: inline;
}


.navigation .navul li>a {
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    position: relative;
    z-index: 10000;
    text-decoration: none;
    display: inline;
    font-family: 'Nunito', sans-serif;
}


.navigation .navul li:not(:last-of-type) {
    margin-right: 30px;
}



.navigation .navul li>a::before {
    position: absolute;
    content: "";
    width: calc(100% - 1px);
    height: 1px;
    background: #fff;
    bottom: -6px;
    left: 0;

    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    z-index: -1;

    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}


.navigation .navul li>a:hover::before,
.navigation .navul li>a.active::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
